.question-list{
   display: flex;
   flex-direction: column;
    
}

.question-item {
    width: 785px;
    height: 136px;
    background-color: #262D34;
    margin: 10px auto;
    padding: 20px;
    
    color: #F7F7F7;
    border-radius: 16px;
}

.question-item-detail {
    width: 785px;
    height: 200px;
    background-color: #262D34;
    margin: 10px auto;
    padding: 20px;   
    color: #F7F7F7;
    border-radius: 16px;
}


.answers{
    padding-left: 20px;

}


.coments{
    width: 642px;
    height: 167px;
    background-color: #b8d8f8;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    color: #F7F7F7;
    border-radius: 16px;
}

.public-comment, .comment{
    width: 730px;
    height: 144px;
    background-color: #262D34;
    margin: 10px auto;
    padding: 20px;
    
    color: #F7F7F7;
    border-radius: 16px;
}

.public-comment button{
    padding: 20px 30px;
    background-color: #FF6934;
    border-radius: 8px;
}

.public-comment input[type=text]{
    width: 506px;
    height: 96px;
    border: 1px solid white;
    border-radius: 8px;
}

/*usuario*/
.titulo-question{
    color: #F7F7F7;
    font-size: 18px;
    font-weight: bold;
}

.anwers-text{
    font-weight: 400;
}
.username{
    font-size: 14px;
    color: #F4F6F8;
    font-weight: bold;
}

.data{
    font-size: 10px;
    color: #C5D0E6;
}

.likes, .comentarios{
    font-size: 14px;
    color: #C5D0E6;
}

/*icone de like*/

.click{
    cursor: pointer;
}