
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body *{
    box-sizing: border-box;
}

.main-cadastro{
    width: 100vw;
    height: 100vh;
    background: #262D34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .main-cadastro{
    background: #F7F7F7;
}

.left-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro > h1, .titulo{
    font-size: 3vw;
    color: #FF6934;
}

.left-cadastro-image{
    width: 35vw;
}

.right-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#262D34;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.dark .card-cadastro{
    background: #FFFFFF; /* Fundo do cartão claro */
}

.card-cadastro > h1{
    color: #FF6934;
    font-weight: 800;
    margin: 0;
}

.textfieldCadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfieldCadastro > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #2C353D;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.dark .textfieldCadastro >input{
    background: #F1F1F1;
    color: #333333; 
}

.textfieldCadastro > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.dark .textfieldCadastro > label {
    color: #333333; /* Texto escuro */
    margin-bottom: 10px;
}

.textfieldCadastro > input::placeholder{
    color: #f0ffff94;
}

.dark .textfieldCadastro > input::placeholder {
    color: #AAAAAA; /* Placeholder mais claro */
}

.btn-cadastro{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background:#FF6934;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.dark .btn-cadastro{
    background: #FF4401;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #FF440152;
}

.btn-voltar{
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    background:#FF4401;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px){
    .card-cadastro{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-cadastro{
        flex-direction: column;
    }
    .left-cadastro > h1{
        display: none;
    }
    .left-cadastro{
        width: 100%;
        height: auto;
    }
    .right-cadastro{
        width: 100%;
        height: auto;
    }
    .left-cadastro-image{
        width: 50vw;
    }
    .card-cadastro{
        width: 90%;
    }
}